* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 200;
}

h1 {
    color: #f9f8fa;
    font-size: 24px;
    font-weight: 900;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 18px;
    margin: 10px 0;
  }

img {
    width: 100%;
}

li {
    list-style-type: none;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 20px;
    max-width: 150px;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.header {
    background-color: #1f2937;
    height: 70px;
    padding: 0 30 px;
}

.header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
}

.header a {
    margin: 0 15px;
    letter-spacing: -1px;
    word-spacing: -7px;

}

/* hero page css*/
.heroPage .container{
    height: 600px;
}

.heroPage {
    background-color: #1f2937;
    height: 600px;
}

.heroPage .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 800;
    color: #f9f8fa;
}

.hero_secondary_text {
    font-size: 18px;
    color: #e5e7eb;
}


/* info page css*/
.info_page, .info_page .container{
    height: 400px;
}

.info_page img {
    border-radius: 20px;
    border: 3px solid #3882f6;
    height: 175px;
    width: 175px;
}

.info_page h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info_page .flex {
    display: flex;
    align-items: center;
}

.info_page .info_chunk {
    text-align: center;
}

/*quote page css*/
.quote_page {
    height: 400px;
    background-color: #e5e7eb;
}

.quote_page .container {
    height: 400px;
}

.quote_page .flex {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.speaker {
    align-self: flex-end;
}

.quote_page .quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;

}

.quote_page .speaker {
    font-weight: 800;
    font-size: 30px;
}

