* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 200;
}

h1 {
    color: #f9f8fa;
    font-size: 24px;
    font-weight: 900;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 18px;
    margin: 10px 0;
  }

img {
    width: 100%;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

.header {
    background-color: #1f2937;
    height: 70px;
    padding: 0 30 px;
}

.header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
}

.header a {
    margin: 0 15px;
    letter-spacing: -1px;
    word-spacing: -7px;

}
